<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Pizza App Manager
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="custom-grid">
    <ion-row>
      <ion-button color="dark" [routerLink]="['/currentorder']" size="large">
        CHECK CURRENT ORDER
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button color="dark" [routerLink]="['/']" size="large">
        UDPATE CURRENT ORDER
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button color="dark" [routerLink]="['/orderhistory']" size="large">
        PREVIOUS ORDERS
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button color="dark" (click)="ToNewOrderPage()" size="large">
        NEW ORDER
      </ion-button>
    </ion-row>
  </ion-grid>




  </ion-content>