ion-grid{
    --ion-grid-width-xs: 100%;
}
.number_button{
    --padding-start: 30px;
    --padding-end: 30px;
}

.add_button {
    --padding-start: 20px;
    --padding-end: 20px;
}

.highlight {
    background-color: #FFFF33 !important;
 }